.topbar{
    position: absolute;
    width: 1535px;
    height: 75px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    position: relative;
    top:20px;
    text-decoration: none;
    background: -webkit-linear-gradient(rgb(0, 45, 66), rgb(26, 192, 90));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav ul li a:hover{
    color: black;
    text-shadow:5px 5px 5px rgb(151, 142, 142);
}

.logo{
    position: absolute;
    left: 71.99px;
    top: 0px;
    width: 75px;
    height: 75px;
}
.bg{
    position: absolute;
    width: 1535px;
    height: 440px;
    left: 0px;
    top: 75px;

    background: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bg img{
    position: absolute;
    width: 1535px;
    height: 440px;
    left: 0px;
    top: 0px;
}
.bg h1{
    position: absolute;
    left: 200px;
    top: 50px;

    font-style: italic;
    font-weight: bold;
    font-size: 70px;
    text-align: center;
    color: #E0E0E0;
    text-shadow:5px 5px 5px rgb(88, 81, 81);
}
.about-us{
    position: absolute;
    top:550px;
    left:660px;
    font-size: 40px;
    text-align: center;
    background: -webkit-linear-gradient(rgb(0, 45, 66), rgb(26, 192, 90));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.intro{
    position: absolute;
    left:300px;
    top:620px;
    width: 935px;
    height: 150px;
    background: #ffffff;
    border: 2px solid #e0e0e0;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
}
.intro p{
    position: absolute;
    top: 20px;
    left: 25px;
    right: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 20px;
    text-align: center;
    color: rgb(5, 36, 94);  
    text-shadow:5px 5px 5px rgb(88, 81, 81);
}
.line{
    position: absolute;
    width: 1150px;
    height: 0px;
    left: 200px;
    top: 800px;
    border: 1px solid #E0E0E0;
}
.vision{
    position: absolute;
    top: 900px;
    left: 430px;
    height: 420px;
    width: 300px;
    background: #FFFFFF;
    border: 2px solid #E0E0E0;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
    display: flex;
}
.vision h2{
    position: absolute;
    top: 30px;
    left: 77px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: -webkit-linear-gradient(rgb(0, 45, 66), rgb(26, 192, 90));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.vision-icon{
    position: absolute;
    top: 80px;
    left: 110px;
    font-size: 65px;
    background: -webkit-linear-gradient(rgb(0, 45, 66), rgb(26, 192, 90));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.vision p{
    position: absolute;
    left: 40px;
    top: 140px;
    right: 40px;
    color: black;
    opacity: 80%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 15px;
    
}

.left-quote{
    position: relative;
    top: 10px;
    padding-right: 5px;
    padding-bottom: 5px;
    color: black;
    opacity: 50%;
}
.right-quote{
    position: absolute;
    left: 170px;
    color: black;
    opacity: 50%;
}
.mission{
    position: absolute;
    top: 900px;
    left: 780px;
    height: 420px;
    width: 300px;
    background: #FFFFFF;
    border: 2px solid #E0E0E0;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
}
.mission h2{
    position: absolute;
    top: 30px;
    left: 77px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: -webkit-linear-gradient(rgb(0, 45, 66), rgb(26, 192, 90));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.mission-icon{
    position: absolute;
    top: 80px;
    left: 110px;
    font-size: 65px;
    color: rgb(4, 124, 84);
}
.mission p{
    position: absolute;
    left: 40px;
    top: 140px;
    right: 40px;
    color: black;
    opacity: 80%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 15px;
    
}

.values{
    position: absolute;
    top: 900px;
    left: 1130px;
    height: 420px;
    width: 300px;
    background: #ffffff;
    border: 2px solid #E0E0E0;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
}
.values h2{
    position: absolute;
    top: 30px;
    left: 77px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: -webkit-linear-gradient(rgb(0, 45, 66), rgb(26, 192, 90));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.values-icon{
    position: absolute;
    top: 80px;
    left: 110px;
    font-size: 65px;
    background: -webkit-linear-gradient(rgb(0, 45, 66), rgb(26, 192, 90));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.values p{
    position: absolute;
    left: 50px;
    top: 170px;
    right: 20px;
    color: black;
    opacity: 80%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 15px;
    
}
.list{
    position: absolute;
    top:205px;
    left: 45px;
    color: black;
    opacity: 80%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 15px;
}
.line2{
    position: absolute;
    width: 1150px;
    height: 0px;
    left: 200px;
    top: 1370px;
    border: 1px solid #E0E0E0;
}
.doctor-bg{
    position: absolute;
    top: 880px;
    left: 100px;
    height: 420px;
    width: 300px;
}
.services{
    position: absolute;
    top:1400px;
    left:660px;
    font-size: 40px;
    text-align: center;
    background: -webkit-linear-gradient(rgb(0, 45, 66), rgb(26, 192, 90));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.service-intro{
    position: absolute;
    left: 250px;
    top: 1480px;
    right: 250px;
    color: black;
    opacity: 80%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 15px;
}
.bg3{
    position: absolute;
    width: 1500px;
    height: 450px;
    left: 30px;
    top: 1560px;

    background: white;
}
.medical-counselling{
    position: absolute;
    left: 100px;
    top: 60px;
    height: 200px;
    width: 350px;
    background: linear-gradient(rgb(0, 45, 66), rgb(26, 192, 90));
    border: 2px solid #E0E0E0;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
    z-index: 1;
}
.medical-counselling:hover{
    height: 450px;
    overflow: visible;
    display: flex;
    transition: height 0.5s;
    flex-basis: 60%;
}

.qualified-doctors{
    position: absolute;
    left: 550px;
    top: 60px;
    height: 200px;
    width: 350px;
    background: linear-gradient(rgb(0, 45, 66), rgb(26, 192, 90));
    border: 2px solid #E0E0E0;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    z-index: 1; 
}
.qualified-doctors:hover{
    height: 450px;
    overflow: visible;
    display: flex;
    transition: height 0.5s;
    flex-basis: 60%;
}
.emergency-services{
    position: absolute;
    left: 1000px;
    top: 60px;
    height: 200px;
    width: 350px;
    background: linear-gradient(rgb(0, 45, 66), rgb(26, 192, 90));
    border: 2px solid #E0E0E0;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
    z-index: 1;
}
.emergency-services:hover{
    height: 450px;
    overflow: visible;
    display: flex;
    transition: height 0.5s;
    flex-basis: 60%;
}
.banner{
    position: absolute;
    height: 100px;
    width:400px;
    bottom:0px;
    left:0px;
}
.banner{
    position: absolute;
    height: 100px;
    width:400px;
    bottom:0px;
    left:10px;
}
.banner1{
    position: absolute;
    height: 100px;
    width:510px;
    bottom:0px;
    left:420px;
}
.banner3{
    position: absolute;
    height: 100px;
    width:510px;
    bottom:0px;
    left:902px;
}
.bg2{
    position: absolute;
    left:0px;
    top:0px;
    height: 200px;
    width: 348px;
}
.service-text{
    position: absolute;
    top: 205px;
    left: 5px;
    text-align: justify;
    font-size: 25px;
    font-style: italic;
    color: white;
}

.line3{
    position: absolute;
    width: 1150px;
    height: 0px;
    left: 200px;
    top: 2100px;
    border: 1px solid #E0E0E0;
}

.research-area{
    position: absolute;
    top:2130px;
    left:600px;
    font-size: 40px;
    text-align: center;
    background: -webkit-linear-gradient(rgb(0, 45, 66), rgb(26, 192, 90));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.research-intro{
    position: absolute;
    top: 2200px;
    left: 200px;
    right: 200px;
    text-align: center;
    font-style: italic;
    color: black;
    opacity: 80%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}
.research-1{
    position: absolute;
    top:2300px;
    left: 300px;
    height: 200px;
    width: 200px;
    background-color: rgb(0, 45, 66);
    overflow: hidden;
    align-items: center;
    z-index: 1;
}
.research-1:hover{
    height: 420px;
    width: 220px;
    left:290px;
    top: 2290px;
    display: flex;
    overflow: visible;
    transition: height 0.5s;
    flex-basis: 60%;
    opacity: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index:2;

}
.research-icon{
    position: absolute;
    top: 50px;
    left: 55px;
    color: white;
    font-size: 80px;
}
.research-txt{
    position: absolute;
    top: 150px;
    color: white;
    width: 100%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;

}
.research-2{
    position: absolute;
    top:2300px;
    left: 520px;
    height: 200px;
    width: 200px;
    background-color: rgb(0, 45, 66);
    overflow: hidden;
    align-items: center;
    z-index: 1;
}
.research-2:hover{
    height: 420px;
    width: 220px;
    left:510px;
    top: 2290px;
    display: flex;
    transition: height 0.5s;
    flex-basis: 60%;
    opacity: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
}
.research-3{
    position: absolute;
    top:2300px;
    left: 740px;
    height: 200px;
    width: 200px;
    background-color: rgb(0, 45, 66);
    overflow: hidden;
    align-items: center;
    z-index: 1;
}
.research-3:hover{
    height: 420px;
    width: 220px;
    left:730px;
    top: 2290px;
    display: flex;
    transition: height 0.5s;
    flex-basis: 60%;
    opacity: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  

}
.research-4{
    position: absolute;
    top:2300px;
    left: 960px;
    height: 200px;
    width: 200px;
    background-color: rgb(0, 45, 66);
    overflow: hidden;
    align-items: center;
    z-index: 1;
}
.research-4:hover{
    height: 420px;
    width: 220px;
    left:950px;
    top: 2290px;
    display: flex;
    transition: height 0.5s;
    flex-basis: 60%;
    opacity: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
}
.line4{
    position: absolute;
    width: 1150px;
    height: 0px;
    left: 200px;
    top: 2550px;
    border: 1px solid #E0E0E0;
}
.cm-mssg{
    position: absolute;
    left: 200px;
    top: 2630;
    font-style: italic;
    font-family: cursive;
    font-size: 30px;
    color: rgb(0, 45, 66);;
    z-index: 1;
}
.mssg{
    position: absolute;
    left: 200px;
    right: 500px;
    top: 2700;
    font-family: cursive;
    font-style: italic;
    color: black;
    opacity: 80%;

}
table{
    position: absolute;
    left: 1100px;
    top: 2600px;
}
tr{
    border-left: 10px solid black;
    border-bottom: 10px solid black
}
th, td {
    padding: 15px;
    text-align: left;
    
  }
th{
    font-size: 25px;
}
td{
    font-size: 18px;
    opacity: 80%;
}
.award{
    position: relative;
    color: yellow;
    font-size: 50px;
    text-shadow:5px 5px 5px rgb(88, 81, 81);
}
.end-bar{
    position: absolute;
    left:0px;
    right:0px;
    top: 3000px;
    height: 50px;
    width: 100%;
    background-color: black;
}
